*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 80%;
    margin: 0% auto;
    color: #fff;
    font-weight: bold;
    font-size: larger;
}
.container1 {
    padding-top: 20px;
    padding-bottom: 20px;
    display : flex;
    flex-direction: column;
    align-content: center;

}

.container2 {
    padding-top: 20px;
    padding-bottom: 20px;
    display : flex;
    flex-direction: column
}

.container3 {
    display : flex;
    justify-content: space-between
}

.item1 {
    height : 20px;
    background-color: rgb(240, 14, 14); 
}

.item2{
    height: 15px;
    padding-bottom: 30px;
    
    
}

.item3 {
    margin: auto;
}

.show{
    background-color: rgb(110, 173, 110)
}

.game {
    background-color: #74d109
}
.winner {
    background-color: #6567be;
    height: 100px;
    align-content: center;
    font-stretch: extra-condensed
}